#form-new-recipe{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-new-recipe label{
    display: block;
}

#form-new-recipe input, #form-new-recipe textarea{
    width: 300px;
}

#categories-container{
    display: flex;
    flex-wrap: wrap;
}

#categories-container select{
    padding: 5px;
    margin: 10px;
}